@{
    ViewData["Title"] = "Index";
}

  
    <!-- Hero Section Starts -->
    <section id="hero">
        <div class="hero container py-5 my-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 mt-2 py-5">
                <div class="col-10 col-sm-8 col-lg-6 py-md-5 my-md-5">
                    <img src="/css/assets/scooter.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                         width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6 py-md-5 my-md-5">
                    <h1 class=" lh-1 mb-3">Agiliza tu logística farmacéutica</h1>
                    <ul class="list-unstyled my-5">
                        <li class="my-2">
                            <h5>Soluciones rápidas y seguras para el suministro de productos médicos en Sevilla. </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

