@model FarmaSupply.DTO.UsuarioDTO
@{
    ViewData["Title"] = "login";
    var mensajeRegistroExitoso = ViewData["MensajeRegistroExitoso"] as string;
    var cuentaVerificada = ViewData["CuentaVerificada"] as string;
    var cuentaNoVerificada = ViewData["EmailNoConfirmado"] as string;
    var yaEstabaVerificada = ViewData["yaEstabaVerificada"] as string;
    var mensajeExitoMail = ViewData["MensajeExitoMail"] as string;
    var contraseñaModificada = ViewData["ContraseñaModificadaExito"] as string;
    var mensajeErrorInicioSesion = ViewData["MensajeErrorInicioSesion"] as string;
    var recursoProhibido = ViewData["RecursoProhibido"] as string;
    var error = ViewData["error"] as string;
}



    <section id="hero">
        <div class="hero container py-5 my-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 mt-2 py-5">
                <div class="col-10 col-sm-8 col-lg-6 py-md-5 my-md-5">
                    <img src="~/css/assets/scooter.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                         width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6 py-md-5 my-md-5">
                    <form id="loginForm" class="form-group flex-wrap p-3" method="post"
                          asp-action="ProcesarInicioSesion" asp-controller="Login" asp-for="UsuarioDTO" role="form">
                        <div class="form-input col-lg-12 my-4">
                            <label for="emailUsuario"
                                   class="form-label fs-6 text-uppercase fw-bold text-black">Email</label>
                            <input id="EmailUsuario" type="email" class="form-control ps-3" name="EmailUsuario" required>
                        </div>
                        <div class="form-input col-lg-12 my-4">
                            <label for="claveUsuario"
                                   class="form-label fs-6 text-uppercase fw-bold text-black">Contraseña</label>
                            <input name="ClaveUsuario" id="ClaveUsuario" type="password" class="form-control ps-3"
                                   required>
                        </div>
                        <div class="d-grid my-3">
                            <button class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6"
                                    type="submit" id="btnAcceder">
                                Acceder
                            </button>
                        </div>
                    </form>
                    <div class="d-grid my-3">
                        <form id="registroForm" class="form-group flex-wrap p-3" method="GET" asp-page="/auth/crear-cuenta">
                            <button type="submit"
                                    class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6">
                                Registrarse
                            </button>
                        </form>
                    </div>
                    <div class="d-grid my-3">
                        <form id="recuperacionForm" class="form-group flex-wrap p-3" asp-page="/auth/solicitar-recuperacion"
                              method="get">
                            <button type="submit"
                                    class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6">
                                Recuperar
                                contraseña
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @if (!string.IsNullOrEmpty(mensajeRegistroExitoso))
    {
        <script>
            mostrarNotificacion("¡Email de confirmación enviado!", "Revise su bandeja de entrada y confirme su cuenta de correo electrónico.", 'info');
        </script>
    }

    @if (!string.IsNullOrEmpty(cuentaVerificada))
    {
        <script>
            mostrarNotificacion("¡Cuenta verificada!", "La cuenta ha sido confirmada correctamente. Ya puede iniciar sesión", 'success');
        </script>
    }
    @if (!string.IsNullOrEmpty(cuentaNoVerificada))
    {
        <script>
            mostrarNotificacion("¡Debe confirmar su correo electrónico!", "Para poder iniciar sesión, antes debe confirmar su cuenta de correo electrónico. Revise su bandeja de entrada", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(mensajeExitoMail))
    {
        <script>
            mostrarNotificacion("¡Email de recuperación enviado!", "Revise su bandeja de entrada y sigua las instrucciones para restablecer su contraseña", 'info');
        </script>
    }
    @if (!string.IsNullOrEmpty(yaEstabaVerificada))
    {
        <script>
            mostrarNotificacion("¡Se encuentra registrado y vericado!", "Puede acceder y hacer uso de su cuenta", 'info');
        </script>
    }
    @if (!string.IsNullOrEmpty(contraseñaModificada))
    {
        <script>
            mostrarNotificacion("¡Contraseña modificada con exito!", "Ya puede iniciar sesión con su nueva contraseña", 'success');
        </script>
    }
    @if (!string.IsNullOrEmpty(mensajeErrorInicioSesion))
    {
        <script>
            mostrarNotificacion("¡No se pudo iniciar sesión!", "Credenciales introducidas incorrectas o cuenta de email no verificada", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(recursoProhibido))
    {
        <script>
            mostrarNotificacion("¡Prohibido!", "No tiene permiso para acceder a este recurso", 'error');

        </script>
    }
    @if (!string.IsNullOrEmpty(error))
    {
        <script>
            mostrarNotificacion("¡Error!", "Ocurrio un error no esperado, intentelo de nuevo", 'error');
        </script>
    }

