@model FarmaSupply.DTO.UsuarioDTO
@{
    ViewData["Title"] = "registro";
    var emailYaRegistrado = ViewData["EmailRepetido"] as string;
    string nombreControlador = "Registro";
    var esRegistroDeAdmin = ViewData["esRegistroDeAdmin"] as bool?;
    var error = ViewData["error"] as string;
    if (esRegistroDeAdmin.HasValue && esRegistroDeAdmin.Value)
    {
        nombreControlador = "Administracion";
    }
}

    <section id="hero">
        <div class="hero container py-5 my-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 mt-2 py-5">
                <div class="col-10 col-sm-8 col-lg-6 py-md-5 my-md-5">
                    <img src="~/css/assets/scooter.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                         width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6 py-md-5 my-md-5">
                <form id="form4" class="form-group flex-wrap p-3" asp-action="RegistrarPost" asp-controller="@nombreControlador" method="post" asp-for="UsuarioDTO">
                        <input type="hidden" name="returnUrl" value="@TempData["ReturnUrl"]" />
                        <div class="form-input col-lg-12 my-4">
                        <label for="NombreUsuario" class="form-label fs-6 text-uppercase fw-bold text-black">Nombre</label>
                        <input type="text" id="NombreUsuario" name="NombreUsuario" class="form-control ps-3" required />
                                   
                        </div>
                        <div class="form-input col-lg-12 my-4">
                        <label for="ApellidosUsuario" class="form-label fs-6 text-uppercase fw-bold text-black">Apellidos</label>
                        <input type="text" id="ApellidosUsuario" name="ApellidosUsuario" class="form-control ps-3" required/>
                        </div>
                        <div class="form-input col-lg-12 my-4">
                        <label for="DniUsuario" class="form-label fs-6 text-uppercase fw-bold text-black">DNI</label>
                        <input type="text" id="DniUsuario" name="DniUsuario" class="form-control ps-3" required />
                        </div>
                        <div class="form-input col-lg-12 my-4">
                        <label for="TlfUsuario" class="form-label fs-6 text-uppercase fw-bold text-black">Telefono</label>
                        <input type="text" id="TlfUsuario" name="TlfUsuario" class="form-control ps-3" required />
                        </div>
                        <div class="form-input col-lg-12 my-4">
                        <label for="EmailUsuario" class="form-label fs-6 text-uppercase fw-bold text-black">Email</label>
                        <input type="email" id="EmailUsuario" name="EmailUsuario" class="form-control ps-3" required/>
                        </div>
                        <div class="form-input col-lg-12 my-4">
                        <label for="ClaveUsuario" class="form-label fs-6 text-uppercase fw-bold text-black">Contraseña</label>
                        <input type="password" id="ClaveUsuario" name="ClaveUsuario" class="form-control ps-3" required
                            oninput="revisarContraseña()"/>
                        </div>
                        <div class="form-input col-lg-12 my-4">
                        <label for="confirmarPassword" class="form-label fs-6 text-uppercase fw-bold text-black">
                                Confirmar contraseña
                            </label>
                        <input type="password" id="confirmarPassword" name="confirmarPassword"
                                   class="form-control ps-3" required oninput="revisarContraseña()">
                        </div>
                        <div class="d-grid my-3">
                            <button class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6"
                                    type="submit" id="btnRegistro">
                                Registrarse
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(emailYaRegistrado))
        {
            <script>
                mostrarNotificacion("¡No se pudo crear la cuenta!", "El email introducido ya se encuentra registrado en el sistema", 'error');
            </script>
        }
        @if (!string.IsNullOrEmpty(error))
        {
            <script>
                mostrarNotificacion("¡Error!", "Ocurrio un error no esperado, intentelo de nuevo", 'error');
            </script>
        }
    </section>
